/* ===========VARIABLESS============= */
:root 
{
--main-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--primary-background: #FFFFFF;
--secondary-background: #2E2F42;
--primary-text-color: #2E2F42;
--accent-color: #4D5AE5;
--secondary-text-color: #434455;
--second-accent-color:#31d0aa;
}

*,
*::before,
*::after 
{
box-sizing: border-box;
}

.container
{
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin-right: auto;
margin-left: auto;
}

h1,h2,h3,h4,h5,h6,p 
{
margin: 0;
}

ul, ol
{
margin: 0;
padding: 0;
}

img
{
display: block;
}

body
{
font-family: var(--main-font);
font-size: 14px;
color: var(--secondary-text-color);
background-color: var(--primary-background);
margin: 0;
}

/* ===========GENERAL============= */

button {cursor: pointer;}

.link 
{
text-decoration: none;
}

.contact
{
font-style: normal;
}

.list
{
list-style-type: none;
font-style: normal;
padding: 0;
margin: 0;
}
/* =============HEADER-LOGO==================== */
.header {
display: flex;
align-items: center;
}

.logo-accent
{
color: var(--primary-text-color);
text-transform: uppercase;
} 

.logo-main
{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--accent-color);
text-decoration: none;

margin-right: 76px;
}

.menu-navigation
{
height: 72px;
}

.filter
{
display: flex;
}

.nav
{
margin-right: 40px;
}

.nav:last-child
{
margin-right: 0px;
}

.site-header
{
align-items: center;
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
}

.site-nav
{
display: flex;  
align-items: center 
}

.contact-list
{
display: flex;
justify-content: flex-end;
margin-left: auto;
}

.nav-item:hover,
.nav-item:focus 
{
color: #404bbf;   
}

.contact
{
font-style: normal;
list-style: none;
display: flex;
margin-left: auto;

}

.nav-item 
{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color);
text-decoration: none;
list-style: none;

display: block;
padding: 24px 0;
}


.contact-item:hover,
.contact-item:focus 
{
color: #404bbf ;   
}

.contact-item
{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
font-style: normal;
text-decoration: none;
list-style: none;
}

.contact-card
{
margin-right: 40px;
}

.contact-card:last-child
{margin-right: 0px;}

/* =================HERO (section 1)=================== */
.hero 
{
background-color: var(--secondary-background);
background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/optim_size/Hero-main/hero-main.jpg);
text-align: center;
max-width: 1440px;
height: 600px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

margin: 0 auto;
padding-top: 188px;
padding-bottom: 188px;
padding-left: auto;
padding-right: auto;
}

.hero-main 
{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;

margin-left: 316px;
margin-right: 316px;
max-width: 496px; 
}

.hero-button
{
font-family: Roboto, sans-serif; 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: var(--accent-color);

padding: 16px 32px;
gap: 10px;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color: #4d5ae5;

display: block;
border: none;
min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;

margin-top: 48px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.hero-button:hover
{
background-color: #404BBF;
}

.hero-button:focus 
{
background-color: #404BBF;
}

/* ==============Principles (section 2)=============== */

.list
{
display: flex;
justify-content: space-around;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.icon-card
{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 8px;
height: 112px;
background-color: #F4F4FD;
border-radius: 4px;
background-position: center;
background-repeat: no-repeat;
}

.icon-principles
{
width: 64px;
height: 64px;
margin: auto;
}

.principles
{
padding: 120px 0;
}
.principles-card
{
margin-right: 24px;
width: calc((100% - 72px) / 4); 
}

.principles-card:last-child
{
margin-right: 0;
}

.principles-menu-name
{    
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color); 
margin-bottom: 8px;
}

.principles-item-descr
{    
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

/* ============GALLERY (section 3)================= */
.gallery
{      
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);

padding-bottom: 120px;
}

.gallery-name
{
margin-bottom: 72px;
}

.gallery-list-item
{
list-style-type: none; 
margin-right: 24px;

width: calc((100% - 48px) / 3); 
}

.gallery-list-item:last-child
{
margin-right: 0;
}

.menu-name
{    
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color); 
text-align: center;

margin-bottom: 8px;
}

.item-descr
{    
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);

text-align: center;
}

/* ===============OUR TEAM (section 4)================ */
.team {
list-style-type: none;
width: 1440;
height: 732;
background-color: #F4F4FD;
padding: 120px 0;
}

.team-menu
{
padding-top: 32px;
padding-bottom: 32px;

}

.team-list {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);

margin-bottom: 72px;
}

.team-item
{
display: flex;
gap: 24px; 

}

.team-card
{
background-color: #FFFFFF;

border-radius: 0px 0px 4px 4px; 
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member
{
padding: 32px 0;
}

.social-media
{
display: flex;
justify-content: center;
gap: 24px;
}

.icon-social-media
{
width: 16px;
height: 16px;
}

.social-media-item
{
width: 40px;
height: 40px;
}

.team-media-link
{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border: var(--accent-color);
background-color: var(--accent-color);
border-radius: 50% 50%;
margin-bottom: 32px;

}

.icon-social-media
{
fill: #f4f4fd;
}

.team-media-link:focus,
.team-media-link:hover
{
background-color: #404bbf;
}
/* ==============Customers (section 5)========== */

.customers {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);

margin-bottom: 72px;
}

.customers-section
{
padding-top: 120px;
padding-bottom: 120px;
}

.customers-card
{
gap: 24px;
}

.svg-icon
{
width: 104px;
height: 56px;
fill: currentColor;
}
.customers-item
{
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
border: solid 1px #8E8F99;
border-radius: 4px;
border-color: rgba(142, 143, 153, 1);
height: 88px;
width: calc((100% - 120px) / 6);
}

.customer-link
{
width: 100%;
height: 100%;
border: 1px solid #8e8f99;
border: radius 4px;
display: flex;
align-items: center;
justify-content: center;
color:#8e8f99;
border-radius: 4px;
}


.customer-link:hover,
.customer-link:focus
{
border-color: #404bbf;
color: #404bbf;
}


/* ===============FOOTER============= */

.footer {
background-color: var(--secondary-background);
padding-top: 100px;
padding-bottom: 100px;
display: flex;
}

.svg-footer
{
width: 24px;
height: 24px;
fill:#f4f4fd;
}
.section-footer
{
display: flex; 
align-items: baseline
}

.section-footer-logo
{
margin-right: 120px;
}

.logo-footer 
{
font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--accent-color);
text-decoration: none;

display: inline-block;
margin-bottom: 16px;
}

.logo-footer-accent
{
color: #F4F4FD;
text-transform: uppercase;
}

.footer-descr
{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;

display: block;
width: 264px;
}

.social-media-block
{
display: block;
}

.social-media-footer
{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;;
margin-bottom: 16px;
}

.social-media
{
gap: 16px;
}

.social-media-link
{
height: 100%;
width: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.social-media-link:hover,
.social-media-link:focus
{
background-color: var(--second-accent-color);
}

.social-media-item
{
height: 40px;
}

/* ================Portfolio============ */
.portfolio-page
{
padding: 96px 0 120px;
}

.portfolio
{
display: flex;
gap: 24px;
justify-content: center;
margin-bottom: 72px
}

.flex-container
{
display: flex;
flex-wrap:wrap;
column-gap: 24px;
row-gap: 48px;
}

.portfolio-item
{
display: block;
width: 360;
}

.portfolio-card
{
display: block;
}

.portfolio-card:hover,
.portfolio-card:focus
{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.portfolio-item:nth-child(3n)
{
margin-right: 0;
}

.portfolio-item:nth-last-child(-n+3)
{
margin-bottom: 0;
}

.portfolio-element
{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-menu
{
display: block;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--accent-color);
background-color: #F4F4FD;

border: 1px solid #E7E9FC;
border-radius: 4px;
padding: 12px 24px;
margin-right: 24px;
}

.portfolio-menu:last-child
{margin-right: 0px;}

.portfolio-menu:focus,
.portfolio-menu:hover 
{
background-color: #404BBF;
color: #FFFFFF;
border: 1px solid transparent;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.portfolio-name 
{  
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;   
letter-spacing: 0.02em;
color: #2E2F42;
color: var(--primary-text-color);

margin-bottom: 8px;
}

.portfolio-descr 
{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

.portfolio-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
